@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Homepage</title>
</head>

<body>
    <h2>Welcome to the SmartQueue. Please login to access the Homepage.</h2>
    <br />
    <form method="post" action="https://localhost:44312/Verify">
        <label>User:</label>
        <br />
        <input type="text" id="username" name="username" value="" />
        <br /> <br />
        <label>Password</label>
        <br />
        <input type="password" id="password" name="password" value="" />
        <br /> <br />
        <input type="submit" />


    </form>
   
</body>

</html>
