
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; //use this layout page

    string identifier;
    string countString = ViewData["count"].ToString(); //give ViewData["count"] from 
    int tableSize = int.Parse(countString); //convert the string of countString to count.
    string[,] table = ViewData["arr"] as string[,]; // gets the viewData of array and converts it to an array string
    identifier = ViewData["auth"].ToString();

    if(identifier == "False")
    {
        Response.Redirect("https://localhost:44312/");
    }

}

<h2>Index</h2>
<table>
    <tr>
        <th>Patent ID </th>
        <th>First Name </th>
        <th>Last Name </th>
    </tr>
    
        @{
            for (int counter = 0; counter < tableSize; counter++)
            {
            <tr>
               <td>@table[counter,0]</td>
               <td>@table[counter,2]</td>
               <td>@table[counter,3]
               <button>Add to Queue</button></td>

            </tr>
            }
        }
   




</table>

