
@{
    ViewBag.Title = "update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string stringCount = ViewData["count"].ToString();
    //int tableSize = int.Parse(stringCount);
}

<html>

<body>
    <script src="~/Scripts/RetrieveName.js"></script>
    <br />
    <label>Please enter name of patent name:</label>
    <input type="search" name="FnSearch" id="FnSearch" oninput="retrieveNames()"/>


    <br /><br />
    <table>
        <tr>
            <th>Patent ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        @{
        <tr>
            <td></td>
        </tr>
         }
    </table>
</body>

</html>

